---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<style>
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem; /* space between project cards */
  }

  .project-card {
    text-align: center;
    text-decoration: none !important;
    color: inherit;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.2s ease;
    background: #fefefe;
  }

  .project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .project-card h3 {
    margin-bottom: 0.3rem;
    text-decoration: none !important;  /* Remove underline */
    color: inherit;
  }

  .project-card img {
    display: block;
    max-width: 80%; /* smaller images */
    height: auto;
    margin: 0 auto;
    margin-top: 0.3rem;
  }
</style>



<div class="projects-grid">
  {% assign sorted_projects = site.projects | sort: "order" %}
  {% for project in sorted_projects %}
    <a href="{{ project.url | relative_url }}" class="project-card">
      <h3>{{ project.title }}</h3>
      {% if project.image %}
        <img src="{{ project.image }}" alt="{{ project.title }} screenshot" />
      {% endif %}
    </a>
  {% endfor %}
</div>





<!-- 
  
  <h2>Military Target Classification</h2>

  <p>
    My team and I built a comprehensive object detection pipeline starting from dataset creation/annotation 
    to model evaluation and fine-tuning. We gathered images, annotated and conducted data augmentation
    in roboflow to increase our dataset size to 2,652 images. After this we trained various YOLOv8 models on this data. 
    We then performed hyperparameter tuning to narrow down to the best learning-rate, epochs, optimizer, image size, 
    loss function, and other hyperparameters. Further details can be found in the repo: 
    <a href="https://github.com/Naif-Ganadily/Friend-or-Foe-Multi-Modal-Military-Target-Identification" target="_blank">FFMMMTI</a>
  </p>
  
  <div style="text-align: center;">
    <img src="/images/yolov8.jpg" alt="YOLOv8s (small) validation set detections" style="max-width: 100%; height: auto;">
    <p>YOLOv8s validation set detections</p>
  </div> -->